
{{!-- make this the display of all the pokemon in the game.  Make the name of the pokemon a hyperlink so it can be added to the users favorites or caught lists. --}}
<div class="text-center">
  <h2>{{name}}</h2>

  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Submit Comment</button>
  </p>
</div>
