* {
  box-sizing: border-box;
}

body {
  background: #abbef1;
  background: linear-gradient(to right, #D4D3DD, #abbef1);
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poke-header{
  padding: 20px;
  margin-top: 20px;
}

.poke-search form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.poke-search input{
  height: 60px;
  width: 500px;
  justify-content: center;
  border-radius: 5px;
  border: none;
  outline: none;
}

.pokeball{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: fixed;
  right: 27%;
  top: 15%;
}

#login{
  justify-content: center;
  margin: 15px;
}

.btn{
  margin: 5px;
}


.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}


/*body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.navbar {
  background-color: blue;
  color: aliceblue;
}

textarea {
  background: transparent;
}

.jumbotron-custom {
  text-align: center;
  background-color: lightgrey;
  color: black;
  border-radius: 0; 
  padding: 3px;
  margin-bottom: 1px;
}*/