* {
  box-sizing: border-box;
}

body {
  background: #abbef1;
  background: linear-gradient(to right, #D4D3DD, #abbef1);
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img-top{
  height: 15rem;
  width: 15rem;
}

.evo-pic {
  height: 4.5rem;
  width: 4.5rem;
}

.poke-header {
  padding: 20px;
  margin-top: 20px;
}

.poke-search form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15%;
  padding-bottom: 25px;
}

.poke-search input {
  height: 60px;
  width: 450px;
  justify-content: center;
  border-radius: 5px;
  border: none;
  outline: none;
}

.pokeball {
  background: transparent;
  border: none;
  outline: none;
}

#login {
  justify-content: center;
  margin: 15px;
}

.btn {
  margin: 5px;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 400px;
  height: 50%;
  padding-left: 5px;
  position: fixed;
}

.wrapper .sidebar h2 {
  font-size: 15px;
  justify-content: center;
}

.wrapper .sidebar ul li {
  padding: 15px;
}

.wrapper .sidebar ul li a {
  color: black;
  /*display: block;*/
  font-size: 10px;
}

.wrapper .sidebar ul li:hover {
  width: 50%;
  background-color: #847da8;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 400px;
  padding-top: 50px;
}

.wrapper .main_content h2 {
  font-size: 25px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.backBtn {
  margin-bottom: 30px;
}

/*body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.navbar {
  background-color: blue;
  color: aliceblue;
}

textarea {
  background: transparent;
}

.jumbotron-custom {
  text-align: center;
  background-color: lightgrey;
  color: black;
  border-radius: 0; 
  padding: 3px;
  margin-bottom: 1px;
}*/
